<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/conatct">Contact</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/post/new">New post</a>
        </li>
    </ul>
</div>